.body{
    transition: .4s;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    position: static;
    display: flex;
    padding: 5px 5px 5px 5px;
    
}

table,
td,
tr{
    margin-top: 10px;
    padding: 20px;
    border-collapse: collapse;
    position: static;
    border: 1px solid white;
    width: 300px; /* largura desejada */
    margin: 0 auto;

}


th {
    background-color: rgb(76, 145, 225);
    color: white;
    height: 40px;
}

.adc {
        display: flex;
        background-image: linear-gradient(to right,rgb(76, 145, 225), rgb(74, 65, 238));
        width: auto;
        border: none;
        padding: 15px;
        margin-right: 670px;
        margin-bottom: 20px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        border-radius: 10px;
        float: right;

}

.remover {
    display: flex;
    background-image: linear-gradient(to right,rgb(76, 145, 225), rgb(74, 65, 238));
    width: auto;
    border: none;
    padding: 15px;

    margin-bottom: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    float: right;

}

.remover:hover{
    background-image: linear-gradient(to right,rgb(255, 0, 0), rgb(255, 0, 0));
    color: black;
}

#botaoedit {
    color: cornflowerblue;
    cursor: pointer;
}