.boxrelcomo{
    display: inline;
    padding: 10px;
}

.fieldsetrelcomo{
    border-color: cornflowerblue;
    padding: 15px;
    display: flex;
    align-items: center;
}

#botaoedit,
#botaodelete{
    color: cornflowerblue;
    margin: 10px;
    cursor: pointer;
}


.inputUser-relcomo{
    border-color: rgb(0, 0, 0);
    background: none;
    border-radius: 10px;
    outline: none;
    height: 35px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 350px;
    letter-spacing: 1px;    
    ;}


#submit-relcomo{
    background-image: linear-gradient(to right,rgb(76, 145, 225), rgb(74, 65, 238));
    width: 100px;
    margin-left: 30px;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit-relcomo:hover{
    
    background-image: linear-gradient(to right,rgb(31, 115, 212), rgb(19, 42, 195));

}

#submit-relcomo:active{
    font-size: 14px;
    opacity: 0.5;

}



/*Tabela*/

table,
td,
tr{
    margin-top: 10px;
    padding: 20px;
    border-collapse: collapse;
    border: 1px solid white;
    

}

#descricao, #cliente{
    column-width: 350px;
}
#data{
    column-width: 150px;
}

#qtd,
#acao{
    column-width: 100px;
}


.colunavendas{
    background-color: cornflowerblue;
    color: white;
}



