.boxcaixafecha{
    display: inline;
    padding: 10px;
}

.boxresultado{
    display: inline;
    padding: 10px;
    font-size: 20px;
}

.fieldsetcaixafecha{
    border-color: cornflowerblue;
    padding: 15px;
    display: flex;
    align-items: center;
}


.inputUser-caixafecha{
    border-color: rgb(0, 0, 0);
    background: none;
    border-radius: 10px;
    outline: none;
    height: 35px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 150px;
    letter-spacing: 1px;   
    ;}

#submit-caixafecha{
    background-image: linear-gradient(to right,rgb(76, 145, 225), rgb(74, 65, 238));
    width: 150px;
    margin-left: 30px;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit-caixafecha:hover{
   
    background-image: linear-gradient(to right,rgb(31, 115, 212), rgb(19, 42, 195));

}

#submit-caixafecha:active{
    font-size: 14px;
    opacity: 0.5;

}



/*Tabela*/

table,
td,
tr{
    margin-top: 10px;
    padding: 20px;
    border-collapse: collapse;
    border: 1px solid white;
    text-align: center;

}


#valor{
    column-width: 350px;
}
#tipo{
    column-width: 200px;
}

.tabcabeca{
    background-color: cornflowerblue;
    color: white;
}


