.boxrelvenda{
    display: inline;
    padding: 10px;
}

.boxresultado{
    display: inline;
    padding: 10px;
    font-size: 20px;
}

.fieldsetrelvenda{
    border-color: cornflowerblue;
    padding: 15px;
    display: flex;
    align-items: center;
}

#botaoedit,
#botaodelete{
    color: cornflowerblue;
    margin: 10px;
    cursor: pointer;
}


.inputUser-relvenda{
    border-color: rgb(13, 13, 13);
    background: none;
    border-radius: 10px;
    outline: none;
    height: 35px;
    color: rgb(13, 13, 13);
    font-size: 15px;
    width: 150px;
    letter-spacing: 1px;    
    ;}

.inputBox-relvenda{
    padding: 10px;
}

#submit-relvenda{
    background-image: linear-gradient(to right,rgb(76, 145, 225), rgb(74, 65, 238));
    width: 100px;
    margin-left: 30px;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit-relvenda:hover{
    
    background-image: linear-gradient(to right,rgb(31, 115, 212), rgb(19, 42, 195));

}

#submit-relvenda:active{
    font-size: 14px;
    opacity: 0.5;

}



/*Tabela*/

table,
td,
tr{
    margin-top: 10px;
    padding: 20px;
    border-collapse: collapse;
    border: 1px solid white;
    text-align: center;

}


#cliente, #produto{
    column-width: 300px;
}
#data, #valor{
    column-width: 180px;
}

.tabcabeca{
    background-color: cornflowerblue;
    color: white;
}


.inputUser-relvendas{
    border-color: rgb(13, 13, 13);
    background: none;
    border-radius: 10px;
    outline: none;
    height: 35px;
    color: rgb(13, 13, 13);
    font-size: 15px;
    width: 150px;
    letter-spacing: 1px;    
}
.fieldsetrelvendas{
    border-color: cornflowerblue;
    padding: 15px;
    display: flex;
    align-items: center;
}

#submit-relvendas{
    background-image: linear-gradient(to right,rgb(76, 145, 225), rgb(74, 65, 238));
    width: 100px;
    margin-left: 30px;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit-relvendas:hover{
    
    background-image: linear-gradient(to right,rgb(31, 115, 212), rgb(19, 42, 195));
}

#submit-relvendas:active{
    font-size: 14px;
    opacity: 0.5;

}