@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 900vh;
}

nav.menu-lateral {
    width: 5%;
    height: 100%;
    padding: 40px 0 40px 1%;
    background-color:rgb(45, 45, 45);
    box-shadow: 5px 0 0  cornflowerblue;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
}

nav.menu-lateral:hover{
    width: 300px;
}


ul{
    height: 100%;
    list-style: none;   
}

ul li.item-menu{
    transition: .3s;
}

ul li.item-menu:hover{
    background-color: cornflowerblue;
}


ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display:flex;
    margin-bottom: 5px;
    line-height: 40px;
    margin-left: 5%;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 130%;
}